{% extends "navbar.html" %} {% block title %}Megha-Blogs{% endblock %} {% block
content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="static/allcss/blogs.css" />

  </head>
  <body>
    <header>
      <div class="nav container"></div>
    </header>
    <!-- <section class="home">
          <div class="home-text container">
            <h2 class="home-title">Megha Blog's</h2>
            <span class="home-subtitle">Your source of great Content</span>
          </div>
        </section> -->

    <div class="post-filter container">
      <span class="filter-item active-filter" data-filter="all"> All </span>
      <span class="filter-item" data-filter="aws"> Top Blogs </span>
      <span class="filter-item" data-filter="azure"> Recent Blogs </span>
      <span class="filter-item" data-filter="googlecloud"> Past Blogs</span>
    </div>
    <section class="post container">
      <div class="post-box googlecloud">
        <img src="https://rb.gy/nb1qi" alt="..." class="post-img" />
        <h2 class="category">Google Cloud</h2>
        <a>
          How To Create Best UX Design with Adobe XD
        </a>
        <span class="post-date">27 July 2023</span>

        <p class="post-description">
          
        </p>
        <div class="profile">
          <img src="static/profile-1.jpg" alt="" class="profile-img" />
          <span class="profile-name">MEGHA CLUB</span>
        </div>
      </div>
      <div class="post-box azure">
        <img src="https://shorturl.at/cyGPZ" alt="..." class="post-img" />
        <h2 class="category">Azure</h2>
        <a>
          How To Create Best UX Design with Adobe XD
        </a>
        <span class="post-date">27 July 2023</span>

        <p class="post-description">
          
        </p>
        <div class="profile">
          <img src="static/profile-1.jpg" alt="" class="profile-img" />
          <span class="profile-name">MEGHA CLUB</span>
        </div>
      </div>

      <div class="post-box aws">
        <img src="https://rb.gy/fqpm6" alt="..." class="post-img" />
        <h2 class="category">aws</h2>
        <a>
          How To Create Best UX Design with Adobe XD
        </a>
        <span class="post-date">27 July 2023</span>

        <p class="post-description">
          
        </p>
        <div class="profile">
          <img src="static/profile-1.jpg" alt="" class="profile-img" />
          <span class="profile-name">MEGHA CLUB</span>
        </div>
      </div>
      <div class="post-box googlecloud">
        <img src="https://rb.gy/nb1qi" alt="..." class="post-img" />
        <h2 class="category">Google Cloud</h2>
        <a>
          How To Create Best UX Design with Adobe XD
        </a>
        <span class="post-date">27 July 2023</span>

        <p class="post-description">
        
        </p>
        <div class="profile">
          <img src="static/profile-1.jpg" alt="" class="profile-img" />
          <span class="profile-name">MEGHA CLUB</span>
        </div>
      </div>
      <div class="post-box azure">
        <img src="https://shorturl.at/cyGPZ" alt="..." class="post-img" />
        <h2 class="category">Azure</h2>
        <a>
          How To Create Best UX Design with Adobe XD
        </a>
        <span class="post-date">27 July 2023</span>

        <p class="post-description">
         
        </p>
        <div class="profile">
          <img src="static/profile-1.jpg" alt="" class="profile-img" />
          <span class="profile-name">MEGHA CLUB</span>
        </div>
      </div>

      <div class="post-box aws">
        <img src="https://rb.gy/fqpm6" alt="..." class="post-img" />
        <h2 class="category">Aws</h2>
        <a>
          How To Create Best UX Design with Adobe XD
        </a>
        <span class="post-date">27 July 2023</span>

        <p class="post-description">
         
        </p>
        <div class="profile">
          <img src="static/profile-1.jpg" alt="" class="profile-img" />
          <span class="profile-name">MEGHA CLUB</span>
        </div>
      </div>
      <div class="post-box googlecloud">
        <img src="https://rb.gy/nb1qi" alt="..." class="post-img" />
        <h2 class="category">Google Cloud</h2>
        <a>
          How To Create Best UX Design with Adobe XD
        </a>
        <span class="post-date">27 July 2023</span>

        <p class="post-description">
         
        </p>
        <div class="profile">
          <img src="static/profile-1.jpg" alt="" class="profile-img" />
          <span class="profile-name">MEGHA CLUB</span>
        </div>
      </div>
      <div class="post-box azure">
        <img src="https://shorturl.at/cyGPZ" alt="..." class="post-img" />
        <h2 class="category">Azure</h2>
        <a>
          How To Create Best UX Design with Adobe XD
        </a>
        <span class="post-date">27 July 2023</span>

        <p class="post-description">
        
        </p>
        <div class="profile">
          <img src="static/profile-1.jpg" alt="" class="profile-img" />
          <span class="profile-name">MEGHA CLUB</span>
        </div>
      </div>

      <div class="post-box aws">
        <img src="https://rb.gy/fqpm6" alt="..." class="post-img" />
        <h2 class="category">Aws</h2>
        <a>
          How To Create Best UX Design with Adobe XD
        </a>
        <span class="post-date">27 July 2023</span>

        <p class="post-description">AWS CERFICATION</p>
        <div class="profile">
          <img src="static/profile-1.jpg" alt="" class="profile-img" />
          <span class="profile-name">MEGHA CLUB</span>
        </div>
      </div>
    </section>

    <div class="footer container">
      <p>&#169; MEGHA CLUB All Right Reserved</p>
      <div class="social">
        <a href="#"><i class="bx bxl-facebook"></i></a>
        <a href="#"><i class="bx bxl-twitter"></i></a>
        <a href="#"><i class="bx bxl-instagram"></i></a>
        <a href="#"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.7.0.js"
      integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
      crossorigin="anonymous"
    ></script>
    <script>
      $(document).ready(function () {
        $(".filter-item").click(function () {
          const value = $(this).attr("data-filter");
          if (value == "all") {
            $(".post-box").show("1000");
          } else {
            $(".post-box")
              .not("." + value)
              .hide("1000");
            $(".post-box")
              .filter("." + value)
              .show("1000");
          }
        });

        $(".filter-item").click(function () {
          $(this)
            .addClass("active-filter")
            .siblings()
            .removeClass("active-filter");
        });
      });
      let header = document.querySelector("header");

      window.addEventListener("scroll", () => {
        header.classList.toggle("shadow", window.scrollY > 0);
      });

      const disabledKeys = ["c", "C", "x", "J", "u", "I"]; // keys that will be disabled
      const showAlert = (e) => {
        e.preventDefault(); // preventing its default behaviour
        return alert("Sorry, you can't view or copy source codes this way!");
      };
      document.addEventListener("contextmenu", (e) => {
        showAlert(e); // calling showAlert() function on mouse right click
      });
      document.addEventListener("keydown", (e) => {
        // calling showAlert() function, if the pressed key matched to disabled keys
        if ((e.ctrlKey && disabledKeys.includes(e.key)) || e.key === "F12") {
          showAlert(e);
        }
      });
    </script>
    <footer class="bg-light text-center text-lg-start">
      <!-- Copyright -->
      <div
        class="text-center p-3"
        style="background-color: rgb(0, 0, 0); color: yellow"
      >
        © 2023 Copyright -
        <a
          href="https://karthikeya16.netlify.app/"
          style="color: lime; text-decoration: none"
          class="blink"
          ><b>KARTHIKEYAGURUJU</b></a
        >
      </div>
      <!-- Copyright -->
    </footer>
  </body>
</html>
{% endblock %}
