{% extends "navbar.html" %}
{% block title %}Megha-Vouchers{% endblock %}

{% block content %}
      <head>
        
        <link rel="stylesheet" href="static/allcss/voucher.css">
        <link rel="website icon" href="/static/profile-1.jpg" />
      </head>
      <body>
        <header>
          <div class="nav container"></div>
        </header>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="https://rb.gy/upufh" alt="First slide" height="600px">
            </div>
          </div>
        </div>
    
        <div class="post-filter container">
          <span class="filter-item active-filter" data-filter="all"> All </span>
          <span class="filter-item" data-filter="aws"> Aws </span>
          <span class="filter-item" data-filter="azure"> Azure </span>
          <span class="filter-item" data-filter="googlecloud"> Google Cloud</span>
        </div>
        <section class="post container">
          <div class="post-box googlecloud">
            <img src="https://rb.gy/nb1qi" alt="..." class="post-img" />
            <h2 class="category">Google Cloud</h2>
            <a href="static/google/1.html" class="post-title">
              How To Create Best UX Design with Adobe XD
            </a>
            <span class="post-date">26 July 2023</span>
    
            <p class="post-description">
             
            </p>
            <div class="profile">
              <img src="static/profile-1.jpg" alt="" class="profile-img" />
              <span class="profile-name">MEGHA CLUB</span>
            </div>
          </div>
          <div class="post-box azure">
            <img src="https://shorturl.at/cyGPZ" alt="..." class="post-img" />
            <h2 class="category">Azure</h2>
            <a href="static/azure/1.html" class="post-title">
              How To Create Best UX Design with Adobe XD
            </a>
            <span class="post-date">26 July 2023</span>
    
            <p class="post-description"></p>
            <div class="profile">
              <img src="static/profile-1.jpg" alt="" class="profile-img" />
              <span class="profile-name">MEGHA CLUB</span>
            </div>
          </div>
    
          <div class="post-box aws">
            <img src="https://rb.gy/fqpm6" alt="..." class="post-img" />
            <h2 class="category">aws</h2>
            <a href="static/aws/1.html" class="post-title">
              How To Create Best UX Design with Adobe XD
            </a>
            <span class="post-date">26 July 2023</span>
    
            <p class="post-description">
              
            </p>
            <div class="profile">
              <img src="static/profile-1.jpg" alt="" class="profile-img" />
              <span class="profile-name">MEGHA CLUB</span>
            </div>
          </div>
          <div class="post-box googlecloud">
            <img src="https://rb.gy/nb1qi" alt="..." class="post-img" />
            <h2 class="category">Google Cloud</h2>
            <a href="static/google/2.html" class="post-title">
              How To Create Best UX Design with Adobe XD
            </a>
            <span class="post-date">26 July 2023</span>
    
            <p class="post-description">
             
            </p>
            <div class="profile">
              <img src="static/profile-1.jpg" alt="" class="profile-img" />
              <span class="profile-name">MEGHA CLUB</span>
            </div>
          </div>
          <div class="post-box azure">
            <img src="https://shorturl.at/cyGPZ" alt="..." class="post-img" />
            <h2 class="category">Azure</h2>
            <a href="static/azure/2.html" class="post-title">
              How To Create Best UX Design with Adobe XD
            </a>
            <span class="post-date">26 July 2023</span>
    
            <p class="post-description">
             
            </p>
            <div class="profile">
              <img src="static/profile-1.jpg" alt="" class="profile-img" />
              <span class="profile-name">MEGHA CLUB</span>
            </div>
          </div>
    
          <div class="post-box aws">
            <img src="https://rb.gy/fqpm6" alt="..." class="post-img" />
            <h2 class="category">Aws</h2>
            <a href="static/aws/3.html" class="post-title">
              How To Create Best UX Design with Adobe XD
            </a>
            <span class="post-date">26 July 2023</span>
    
            <p class="post-description">
             
            </p>
            <div class="profile">
              <img src="static/profile-1.jpg" alt="" class="profile-img" />
              <span class="profile-name">MEGHA CLUB</span>
            </div>
          </div>
          <div class="post-box googlecloud">
            <img src="https://rb.gy/nb1qi" alt="..." class="post-img" />
            <h2 class="category">Google Cloud</h2>
            <a href="static/google/3.html" class="post-title">
              How To Create Best UX Design with Adobe XD
            </a>
            <span class="post-date">26 July 2023</span>
    
            <p class="post-description">
              
            </p>
            <div class="profile">
              <img src="static/profile-1.jpg" alt="" class="profile-img" />
              <span class="profile-name">MEGHA CLUB</span>
            </div>
          </div>
          <div class="post-box azure">
            <img src="https://shorturl.at/cyGPZ" alt="..." class="post-img" />
            <h2 class="category">Azure</h2>
            <a href="static/azure/3.html" class="post-title">
              How To Create Best UX Design with Adobe XD
            </a>
            <span class="post-date">26 July 2023</span>
    
            <p class="post-description">
             
            </p>
            <div class="profile">
              <img src="static/profile-1.jpg" alt="" class="profile-img" />
              <span class="profile-name">MEGHA CLUB</span>
            </div>
          </div>
    
          <div class="post-box aws">
            <img src="https://rb.gy/fqpm6" alt="..." class="post-img" />
            <h2 class="category">Aws</h2>
            <a href="static/aws/3.html" class="post-title">
              How To Create Best UX Design with Adobe XD
            </a>
            <span class="post-date">26 July 2023</span>
    
            <p class="post-description">AWS CERFICATION</p>
            <div class="profile">
              <img src="static/profile-1.jpg" alt="" class="profile-img" />
              <span class="profile-name">MEGHA CLUB</span>
            </div>
          </div>
        </section>
    
        <div class="footer container">
          <p>&#169; MEGHA CLUB All Right Reserved</p>
          <div class="social">
            <a href="#"><i class="bx bxl-facebook"></i></a>
            <a href="#"><i class="bx bxl-twitter"></i></a>
            <a href="#"><i class="bx bxl-instagram"></i></a>
            <a href="#"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>
    
        <script
          src="https://code.jquery.com/jquery-3.7.0.js"
          integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
          crossorigin="anonymous"
        ></script>
        <script>
          $(document).ready(function () {
            $(".filter-item").click(function () {
              const value = $(this).attr("data-filter");
              if (value == "all") {
                $(".post-box").show("1000");
              } else {
                $(".post-box")
                  .not("." + value)
                  .hide("1000");
                $(".post-box")
                  .filter("." + value)
                  .show("1000");
              }
            });
    
            $(".filter-item").click(function () {
              $(this)
                .addClass("active-filter")
                .siblings()
                .removeClass("active-filter");
            });
          });
          let header = document.querySelector("header");
    
          window.addEventListener("scroll", () => {
            header.classList.toggle("shadow", window.scrollY > 0);
          });
    
    
          
        </script>
        <footer class="bg-light text-center text-lg-start">
                <!-- Copyright -->
                <div class="text-center p-3" style="background-color: rgb(0, 0, 0); color:yellow ;">
                  © 2023 Copyright -
                  <a  href="https://karthikeya16.netlify.app/" style="color: lime; text-decoration: none; " class="blink"><b>KARTHIKEYAGURUJU</b></a>
                </div>
                <!-- Copyright -->
              </footer>
      </body>
    </html>
 
    
{% endblock %}